.custom-slider .slick-dots li button:before {
  color: rgb(247, 247, 247); /* Change the color of the dots */
  font-size: 20px;
  margin-top: 50px;
}
.custom-slider .slick-dots li.slick-active button:before {
  color: #f07b26; /* Change the color of the active dot */
  font-size: 25px; /* Increase font size */
  margin-top: 50px; /* Modify margin top if needed */
}
.custom-slider {
  position: relative;
}

.custom-slider .img1 {
  position: absolute;
  border-radius: 20px;
  top: 40px;
  left: -20px;
    
}
